#modal{
  background-color: #0E0A14ef;/*Acrescentar alpha no exadecimal(00 transparent, FF cor mais forte, ef opaco transparente*/
  /*Pega toda a tela*/
  height: 100vh;
  width: 100vw;
  /*Define comportamento da posição fixa e puxa para o top 0*/
  position: fixed;/*Deixa fixo*/
  top: 0;/*Deixa o modal no top*/

  /*Ajusta os itens ao centro*/
  display: flex;
  justify-content: center;
  align-items: center;

  /*Efeito suave aparecendo*/
  transition: 400ms;
}

#modal .content{
  color: white;
  width: 420px;
}

#modal .header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}

#modal .header a{
  background-image: url("../assets/x.svg");
  width: 20px;
  height: 20px;
  display: flex;
  font-size: 0.01px;/*usado para sumir a fonte*/
}

#modal .header h1{
  color: white;
  font-size: 36px;
  line-height: 42px;
}

#modal form label{
  font-size: 14px;
  line-height: 16px;
  display: block;/*sem isso ele não pega o margin-botton ou não pega todo espaço*/
  margin-bottom: 8px;
}

#modal form .field{
  display: flex;
}

#modal form input{
  flex: 1;
  background-color: #f0f0f5;/*Cor do fundo*/
  border-radius: 8px 0 0 8px;
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  color: #6c6c80;/*Cor que digita*/
}

#modal form button{
  height: 72px;
  width: 72px;
  background-color: var(--primary-color);
  border: 0;
  border-radius: 0 8px 8px 0;
}

#modal form button:hover{
  background-color: #2fb85a;
}

#modal.hide{
  display: none;
}

/* Isso é para o modal point created */
#modal.point .content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#modal.point h1{
  color: white;
  margin-top: 32px;
}
